.caixa--grafico {
    margin-right: 20px;
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 330px;
    background-color: rgba(0, 0, 0, 0.1);
}

.moeda--convertida {
    margin-right: 20px;
    padding: 5px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    top: 280px;
}

@media (max-width: 880px) {
    .caixa--grafico, .moeda--convertida {
        width: 60%;
    }
}
@media (max-width: 750px) {
    .caixa--grafico, .moeda--convertida {
        width: 100%;
        margin-right: 0px;
    }
}
@media (max-width: 450px) {
    .caixa--grafico, .moeda--convertida {
        font-size: 20px;
    }
}

