

.caixa--moeda {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.caixa--moeda--primaria, .caixa--moeda--secundaria {
    margin: 0 10px 0 10px;
    height: min-content;
    display: flex;
    justify-content: center;
}   

.botao--mostra--moedas {
    padding: 15px 20px 15px 5px;
    width: clamp(70px, 10vw, 10em);
    height: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.moeda--escolha {
    z-index: 999;
    width: 50%;
    max-width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    overflow: auto;
    position: absolute;
    top: 30%;
}

.moeda--primaria, .moeda--secundaria {
    width: 100%;
    margin-bottom: 2px;
    padding: 1px;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    font-size: clamp(0.8em, 2.5vw, 20px);
}

.moeda--primaria span, .moeda--secundaria span {
    color: #ff0000;
    position: absolute;
    right: 0;
    margin-right: 5px;

    font-size: 10px;
    
}


.moeda--primaria:hover, .moeda--secundaria:hover, .botao--mostra--moedas:hover {
    background-color: rgb(224, 224, 224);
}

@media (max-height: 500px) {
    .caixa--moeda {
        margin-top: 30px;
    }
    .moeda--escolha {
        top: 25%;
        height: 120px;
    }

}