* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2.5vw, 20px);
}

.caixa--principal {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 100px;
}


.moedas--area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
}

.cifrao--imagem {
    width: clamp(100px, 20vw, 200px);
    height: 150px;
} 

.cifrao--imagem img {
    width: 100%;
    height: 100%;
}

.moeda--conversao {
    margin-top: 5px;

}

.input--primeiro--valor, .input--segundo--valor {
    margin: 0px 10px 0px 10px;
    width: clamp(80px, 20vw, 300px);
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: inherit;
}

.conteudo--inferior {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2.5vw, 20px);
}

.moeda--hoje--valor {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    font-size: clamp(0.6em, 5vw, 2em);
}

.grafico--paragrafo {
    margin-top: 50px;
    font-size: clamp(0.6em, 5vw, 1em);
    color: #c00000;

}

.grafico {
    width: 100%;
    height: clamp(200px, 40vh, 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media (max-height: 550px) {
    .cifrao--imagem {
        height: 100px
    }

    .moedas--area {
        display: flex;
        justify-content: start;
        margin-top: 50px;
    }
}


@media (max-width: 300px) {
    .input--primeiro--valor, .input--segundo--valor {
        height: 30px;
        padding: 2px;
        width: 60px;
    }
}
